<!DOCTYPE html>
{%extends 'scorptec/design.html'%}
{%block head_title%} Scorptec-Privacy Policy {%endblock%}
{% load static %}
  {% block body_block %}
  <div class="container">
    <h1 class = "text-center heading">Privacy policy of Scorptec Electronics </h1>
    <h3>Introduction </h3>
    <p>Scorptec Electronic online stores recognise that your personal information is crucial to you and are concerned with its collection, use and disclosure. Like other business in Australia, Scorptec is also bounded by the Australian Privacy principles as set out in the Privacy Act 1988.The policy contains information about the purpose for which Scorptec collects, holds, and uses and discloses personal information, when you can deal with Scorptec anonymously. As Scorptec is governed by the terms and agreement set forth below. Please read them carefully. </p>
    <br>
    <br>
    <h3>Section 1: Information we collect from you </h3>
      <ul>
        <li>When you purchase anything from our website as part of buying and selling process, we do collect your personal information such as your name, phone number, email address, home address, nationality etc. Even though if you just browse our website, we automatically receive your computer network address in order to provide us with the information that helps us to know about your browser and to improve our service. That information is used for internal purpose only. Your personal information will be always in confidential mode. We will never share your information with third party.</li>
        <li>We do not do email marketing unless and until we get your permission. If you subscribed our store we will send you the new promos, new products, and other updates.</li>
      </ul>
      <h3>Section 2- Cookies Information</h3>
        <ul>
          <li>We may send cookies to your web browser to help you use Scorptec website. If you would like to adjust your cookies settings, please consult your browser instructor </li>
        </ul>
        <h3>Section 3- Privacy Consent </h3>
          <ul>
            <li>When you provide us your personal information for completing any purchase transaction, place an order, verify credit/debit card, email address, return a purchase, we imply that you have consent to our collecting it and using it for specific purpose only. If we want to use it for secondary purpose like for store marketing, we will always ask for your consent first or provide you the option of yes or no.</li>
            <li>Even after you participate in and later change your mind you may withdraw your consent for us to contact you. For future continuity, use or disclose of your information at any time you can contact us Scorptec@gmail.com?</li>
          </ul>
        <h3>Section 4- Disclosure </h3>
          <ul>
            <li>We may disclose your personal information if we are required by the law. If you violated our terms and conditions, we may use your personal information to take legal action against you</li>
          </ul>



  </div>
  {% endblock %}
