<!DOCTYPE html>
{%extends 'scorptec/design.html'%}
{%block head_title%} Scorptec-Privacy Policy {%endblock%}
{% load static %}
  {% block body_block %}
    <div class="container">
      <h1 class = "text-center heading">Terms and condition  of Scorptec </h1>
      <p>Welcome to Scorptec Electronics. As all brands and names are trademarks of their respective companies. All prices are in Australian Dollars. All prices displayed are GST inclusive. Prices subject to change without notice. The product images used on our website are for illustration purposes only and may vary from the product description.
      From this page, you may view our terms & conditions. Please select an option from below:
      </p>
      <h3 >Credit card verification </h3>
         <ul>
           <li>In order to bring our customers, the convenience and safety of online credit card payment we have a robust credit card verification procedure. We have incorporated a safety mechanism feature used by banks and credit card companies designed to protect all credit card customers as well as the owner of the credit card from potential fraudulent use. </li>
           <li>For safety measures, we do not store your credit cards information within your account so if anyone has gained access to your account, they will not be able to make purchases and pay using your credit card details. </li>
           <li>All customer and credit card data are securely processed and encrypted through the eWAY or Braintree payment gateway to offer the highest level of protection possible. </li>
         </ul>

       <h3>Delivery Service </h3>
         <ul>
           <li>When you place order we put our all effort to deliver the items to you ASAP or the date you prefered. We provide tracking number to each order. You can always track down your order. On the time of delivry to your address if we found noone to attend the order  we leave it to your nearest post office or you can always conatct our customer support. </li>
         </ul>
         <h3>Returns and Refund  </h3>
           <ul>
             <li>Customers must first apply for a return authorisation (RA) on our website before returning any product or if they want any refund. In the case where access to our website is not available, customer can always contact our support team by lodging a query through our support site to obtain the return authorisation number. All product returns sent by POST must be clearly addressed to destinated company branch.</li>
           </ul>

           <h3>Cancellation Terms and condition </h3>
             <ul>
               <li>Cancellation of orders involving a computer system that is already built, will be charged at least a minimum of 15% restocking fee. This is to cover for our time and depreciation of opened goods.</li>
               <li>Cancellation must be informed to us 'in writing' as soon as possible, any cancellation after a product has been packed and shipped out will result in the customer liable for all shipping and handling charges as well as any cancellation fees that may apply. Scorptec reserve the right to cancel any order that is ready for customer to pickup/for delivery after 3 working days of non-payment or non-contact by customer</li>
             </ul>

             <h3>Warranty Terms and condition</h3>
               <ul>
                 <li>All products sold by Scorptec carry a full manufacturer warranty. Scorptec will process all warranty claims with the manufacturer on behalf of customers unless the manufacturer has a direct warranty option to the customer</li>
                 <li>Any product returned for a warranty claim, depending on its age and availability, will generally be repaired, replaced with new or refurbished, upgraded or refunded by the manufacturers.</li>
               </ul>

               <h3>Copyright and Trademarks</h3>
                 <ul>
                   <li>Scorptec owns the copyright and trademarks to all our intellectual properties which include the word Scorptec, its website and logo. Any person/business entity who use it without our prior written consent will be deemed as breaching the copyright law and we will seek legal claims.</li>
                   <li>Manufacturer's images, trademarks and links used within our websites are reserved copyrights and trademarks of their respective owners.</li>
                 </ul>


    </div>
  {% endblock %}
